html
{
  overflow-y: scroll;
  overflow-x: hidden;
}

body
{
  margin: 0;
  padding: 0;
  background-color: #989898		;
  min-width: 1400px;
}

#song
{
  z-index: -5;
}

a
{
  text-decoration: none;
}

textarea:focus, input:focus, select:focus{
    outline: none;
}

*:focus {
    outline: none;
}

.winter-is-coming, .snow {
  z-index: 100;
  pointer-events: none;
}

.winter-is-coming {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background: #333;
  z-index: 0;
}

.snow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: falling linear infinite both;
          animation: falling linear infinite both;
  -webkit-transform: translate3D(0, -100%, 0);
          transform: translate3D(0, -100%, 0);
}
.snow--near {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
  background-size: contain;
}
.snow--near + .snow--alt {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.snow--mid {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png);
  background-size: contain;
}
.snow--mid + .snow--alt {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.snow--far {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png);
  background-size: contain;
}
.snow--far + .snow--alt {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

@-webkit-keyframes falling {
  0% {
    -webkit-transform: translate3D(-7.5%, -100%, 0);
            transform: translate3D(-7.5%, -100%, 0);
  }
  100% {
    -webkit-transform: translate3D(7.5%, 100%, 0);
            transform: translate3D(7.5%, 100%, 0);
  }
}

@keyframes falling {
  0% {
    -webkit-transform: translate3D(-7.5%, -100%, 0);
            transform: translate3D(-7.5%, -100%, 0);
  }
  100% {
    -webkit-transform: translate3D(7.5%, 100%, 0);
            transform: translate3D(7.5%, 100%, 0);
  }
}

.hover_div
{
  transition: 0.5s;
  cursor: pointer;
}

.hover_div:hover
{
  transform: scale(1.1);
  opacity: 0.7;
}

#enter_button
{
  width: 250px;
  height: 50px;
  background-color: #d42426;
  border-style: none;
  font-size: 32px;
  border-radius: 5px;
  margin-top: 25%;
  color: white;
  font-family: 'Mountains of Christmas', cursive;
  cursor: pointer;
  z-index: 5;
  position: fixed;
  margin-left: calc((100% - 250px) / 2);
  display: block;
}

#name_title
{
  margin-top: 15%;
  margin-left: calc((100% - 250px) / 2);
  z-index: 5;
  font-size: 32px;
  color: white;
  font-family: 'Mountains of Christmas', cursive;
  position: fixed;
  display: none;
}

#name
{
  margin-top: 20%;
  margin-left: calc((100% - 250px) / 2);
  position: fixed;
  width: 250px;
  height: 50px;
  font-size: 18px;
  color: white;
  background-color: #d42426;
  border: none;
  z-index: 5;
  font-family: 'Mountains of Christmas', cursive;
  display: none;
}

#confirm_name
{
  margin-top: 25%;
  position: fixed;
  background-color: #d42426;
  border-radius: 5px;
  height: 50px;
  width: 250px;
  z-index: 5px;
  margin-left: calc((100% - 250px) / 2);
  font-family: 'Mountains of Christmas', cursive;
  color: white;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
  display: none;
}

#find_secret_santa
{
  margin-left: calc((100% - 350px) / 2);
  font-size: 32px;
  text-align: center;
  cursor: pointer;
  margin-top: 25%;
  position: fixed;
  width: 350px;
  height: 50px;
  z-index: 5px;
  display: none;
  color: white;
  font-family: 'Mountains of Christmas', cursive;
  background-color: #d42426;
  border-radius: 5px;
}

#end_page
{
  background-color: #d42426;
  width: 700px;
  height: 500px;
  position: fixed;
  z-index: 5;
  margin-top: 100px;
  margin-left: calc((100% - 700px)/2);
  border-radius: 5px;
  color: white;
  display: none;
  overflow: scroll;
}

#end_page_title
{
  color: white;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 32px;
  margin-left: 25px;
}

.end_page_info
{
  color: white;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 22px;
  margin-left: 25px;
  margin-right: 25px;
}


#volume
{
  width: 40px;
  height: 40px;
  position: fixed;
  margin-left: -225px;
  margin-top: 50px;
  cursor: pointer;
}

#sorry
{
  display: none;
  z-index: 5;
  width: 325px;
  height: 100px;
  background-color: #d42426;
  color: white;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 32px;
  margin-left: calc((100% - 325px) / 2);
  margin-top: 25%;
  position: fixed;
  text-align: center;
  border-radius: 5px;
}
